body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}       

.centralizer {
  box-sizing: border-box;
  width: 1040px;
  margin: 0 auto;
  padding: 0 10px;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.flex {
  display: flex;
}

/* ------------------------------ header ------------------------------ */

.header-and-banner-container {
  box-sizing: border-box;
  min-height: 566px;
  padding-top: 28px;
  
  background-image: url("../assets/img/head-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-and-banner-container .main-header {
  justify-content: space-between;
  align-items: center;

  min-height: 83px;
}

.header-logo {
  margin: 0;
}

.header-logo .logo-link {
  position: relative;
  top: 5px;
  left: -5px;
  
  margin-left: 92px;
  padding-right: 10px;

  font-style: italic;
  font-size: 41.05px;
  font-weight: 400;
  font-family: "Lucida Sans", "Candara", sans-serif;
  letter-spacing: 0.01em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.header-logo .logo-link::before {
  position: absolute;
  top: -24px;
  left: -88px;

  display: inline-block;
  width: 83px;
  height: 83px;

  background-image: url("../assets/img/theyalow-logo.svg");
  background-repeat: no-repeat;

  content: "";
}

.header-logo .logo-link:focus {
  outline: 1px solid white;
}

.header-logo .logo-link:focus,
.header-logo .logo-link:hover,
.header-logo .logo-link:active {
  color: #f5c505;
}

.main-navigation {
  position: relative;
  top: 1px;

  align-self: flex-end;
  width: 453px;
  min-height: 41px;

  background-color: rgba(245, 197, 6, 1);
  box-shadow: -4px -5px 0px 0px  rgba(245, 197, 6, 0.27),
              -8px -8px 0px 0px  rgba(245, 197, 6, 0.27);
}

.main-navigation .navigation-link {
  position: relative;
  
  display: inline-block;
  box-sizing: border-box;
  min-height: 41px;

  font-size: 17.05px;
  font-weight: 400;
  line-height: 41px;
  font-family: "Segoe WP", "Segoe UI", sans-serif;
  letter-spacing: 0.01em;
  text-align: center;
  text-transform: uppercase;
  color: #9b7d08;

  border-right: 1px solid rgba(220, 177, 5, 1);
}

.contact-item .navigation-link {
  border: none;
}

.about-item .about-icon {
  position: relative;
  top: 3px;
  left: -4px;
}

.about-item .navigation-link {
  width: 173px;
  padding-left: 21px; 
}

.services-item .services-icon {
  position: relative;
  top: 3px;
  left: -4px;
}

.services-item .navigation-link {
  width: 133px;
}

.contact-item .contact-icon {
  position: relative;
  top: 2px;
  left: -4px;
}

.contact-item .navigation-link {
  width: 147px;
}

.main-navigation .navigation-link:focus,
.main-navigation .navigation-link:hover,
.main-navigation .navigation-link:active {
  color: #ffffff;

  outline: 1px solid #ffffff;
}

.navigation-link:focus .icon,
.navigation-link:hover .icon,
.navigation-link:active .icon{
  fill: #ffffff;
}

/* ------------------------------ banner ------------------------------ */

.banner-container {
  min-height: 398px;
  margin-top: 57px;
}

.video-container {
  width: 549px;
  height: 327px;
  margin-left: 10px;

  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.banner .video {
  width: 549px;
  height: 327px;

  object-fit: cover;
  object-position: -54px;
}

.banner .video:focus,
.banner .video:hover,
.banner .video:active {
  outline: 1px solid #ffffff;
}

.banner .slogan {
  width: 408px;
  margin: 0;
  margin-left: 43px;
  padding-top: 79px;

  font-size: 63.05px;
  font-weight: 400;
  font-family: "Asap", "Calibri", sans-serif;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.slogan .first-text-line {
  position: relative;
  top: -4px;
  left: -8px;

  color: #f5c506;
}

.button-container {
  position: relative;
  top: -195px;

  justify-content: space-between;
}

.button-container .button {
  width: 32px;
  height: 57px;
  padding: 0;

  background-color: rgba(245, 197, 6, 0.71);
  background-image: url("../assets/img/banner-button.svg");
  background-repeat: no-repeat;
  background-position: 8px center;
  border: none;
}

.button-container .next-button {
  width: 32px;

  background-color: rgba(245, 197, 6, 1);
  background-position: 8px 20px;

  transform: rotate(180deg);
}

.button-container .button:focus,
.button-container .button:hover,
.button-container .button:active {
  outline: 1px solid #ffffff;
}

/* ------------------------------- main ------------------------------- */

/* ----------------------------- features ----------------------------- */

.features-container {
  background-image: url("../assets/img/features-bg.png");
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.features .features-list {
  align-items: stretch;
}

.features-list .features-item {
  flex-grow: 1;

  width: 200px;

  border-left: 1px solid #cfcfcf;
}

.features-list .features-item:last-of-type {
  border-right: 1px solid #cfcfcf;
}

.features-list .features-link {
  display: block;
  box-sizing: border-box;
  min-height: 212px;
  padding-top: 146px;

  font-size: 27.05px;
  font-weight: 300;
  font-family: "Segoe UI", Tahoma, sans-serif;
  letter-spacing: 0.01em;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.design .features-link {
  background-image: url("../assets/img/features-cloud.svg");
  background-repeat: no-repeat;
  background-position: 112px 61px;
}

.design .features-link:focus,
.design .features-link:hover,
.design .features-link:active {
  color: #ec9e03;

  background-image: url("../assets/img/features-cloud-hover.svg");
  outline: 0;
}

.customize .features-link {
  background-image: url("../assets/img/features-leaf.svg");
  background-repeat: no-repeat;
  background-position: 135px 37px;
}

.customize .features-link:focus,
.customize .features-link:hover,
.customize .features-link:active {
  color: #ec9e03;

  background-image: url("../assets/img/features-leaf-hover.svg");
  outline: 0;
}

.price .features-link {
  background-image: url("../assets/img/features-plane.svg");
  background-repeat: no-repeat;
  background-position: 119px 54px;
}

.price .features-link:focus,
.price .features-link:hover,
.price .features-link:active {
  color: #ec9e03;

  background-image: url("../assets/img/features-plane-hover.svg");
  outline: 0;
}

/* ---------------------------- description --------------------------- */

.description-container {
  min-height: 508px;

  background-image: url("../assets/img/description-bg.png");
  box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.post-container {
  align-items: center;

  margin-bottom: 43px;
}

.post-article .article-title {
  margin: 0;

  font-size: 37.05px;
  font-weight: 400;
  font-family: "PTSans", "Century Gothic", sans-serif;
  letter-spacing: 0.01em;
  line-height: 110px;
  text-transform: uppercase;
  text-align: left;
  color: #ffffff;
}

.post-article .article-content {
  width: 656px;
  min-height: 233px;

  font-size: 0;
  
  background-color: #ec9e03;
}

.post-article .article-text {
  position: relative;

  box-sizing: border-box;
  width: 341px;
  margin: 15px 0 0 29px;

  font-size: 29.05px;
  font-weight: 300;
  font-family: "Segoe WP", "Segoe UI", sans-serif;
  letter-spacing: 0.01em;
  line-height: 1.31;
  text-align: left;
  color: #ffffff;
}

.post-article .article-video {
  width: 315px;

  object-position: -1px;
}

.post-article .article-video:focus,
.post-article .article-video:hover,
.post-article .article-video:active {
  outline: 1px solid #ffffff;
}


.post-article .article-link,
.social-container .twitter-link {
  position: absolute;
  right: 15px;
  bottom: 13px;

  display: inline-block;
  width: 11px;
  min-height: 11px;

  background-image: url("../assets/img/description-plus.svg");
  background-repeat: no-repeat;
  background-position: center center;

  opacity: 1;
}

.post-article .article-link:focus,
.post-article .article-link:hover,
.post-article .article-link:active,
.social-container .twitter-link:focus,
.social-container .twitter-link:hover,
.social-container .twitter-link:active {
  outline: 1px solid #ffffff;

  opacity: 1;
}

.post-article .article-date {
  display: block;
  width: 113px;
  height: 86px;

  text-align: center; 
  
  background-color: #ddb101;
}

.article-date .day {
  display: inline-block;
  width: 100%;
  padding-top: 2px;
  padding-left: 2px;

  font-size: 51.05px;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, sans-serif;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.article-date .month {
  display: inline-block;
  width: 100%;
  margin-top: -4px;
  padding-left: 2px;

  font-size: 21px;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, sans-serif;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #b26529;
}

.description-container .social-container {
  position: relative;

  width: 329px;
  min-height: 233px;
  margin-top: 23px;
  margin-left: 33px;

  background-color: #ec9e03;
  background-image: url("../assets/img/twitter-logo.svg");
  background-repeat: no-repeat;
  background-position: center 59px;
}

.social-container .social-comments {
  position: absolute;
  top: 9px;
  right: 17px;

  font-size: 25.05px;
  font-weight: 300;
  font-family: "Segoe WP", "Segoe UI", sans-serif;
  line-height: 1.517;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.social-container .twitter-link {
  right: 9px;
}

.social-container .mobile-chat {
  display: none;
}

/* ---------------------------- slider --------------------------- */

.description .slider-container {
  box-sizing: border-box;
  width: 896px;
  height: 15px;
  margin: 0;
  margin-left: 73px;
}

.slider {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

.slider:focus {
  outline: none; /* Removes the blue border */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;

  box-sizing: border-box;
  width: 197px;
  height: 15px;

  background-color: #ec9e03;
  border-radius: 10px;

  cursor: pointer;
}

.slider::-moz-range-thumb { /*  TODO: Test this feature in Mozilla */
  box-sizing: border-box;
  width: 197px;
  height: 15px;

  background-color: #ec9e03;
  border-radius: 10px;

  cursor: pointer;
}

.slider::-webkit-slider-runnable-track {
  background-color: rgba(255, 255, 255, 0.48);
  border-radius: 10px;
  
  cursor: pointer;
}
.slider::-moz-range-track {
  background-color: rgba(255, 255, 255, 0.48);
  border-radius: 10px;
  
  cursor: pointer;
}

.slider:focus::-webkit-slider-runnable-track,
.slider:hover::-webkit-slider-runnable-track,
.slider:active::-webkit-slider-runnable-track {
  background-color: #ffffff;
  border-radius: 10px; 
}

.slider:focus::-moz-range-track,
.slider:hover::-moz-range-track,
.slider:active::-moz-range-track {
  background-color: #ffffff;
  border-radius: 10px; 
}

/* ---------------------------- about --------------------------- */

.about-container {
  min-height: 497px;

  background-image: url("../assets/img/about-bg.png");
}

.about-container .about-title {
  margin: 0;
  padding-top: 39px;
  padding-left: 6px;
  margin-bottom: 50px;

  font-size: 43.05px;
  font-weight: 400;
  font-family: "PTSans", "Century Gothic", sans-serif;
  letter-spacing: 0.01em;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: #f5c506;
}

.pictures-box {
  position: relative;

  width: 622px;
  min-height: 298px;
}

.pictures-box .discount {
  position: absolute;
  top: -48px;
  left: -2px;

  display: inline-block;
  box-sizing: border-box;
  width: 116px;
  min-height: 116px;
  padding-top: 4px;
  padding-left: 5px;

  font-size: 18.74px;
  font-weight: 400;
  font-family: "PTSans NarrowBold", "Century Gothic", sans-serif;
  letter-spacing: 0.01em;
  line-height: 116px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  background-color: #f5c506;
  border-radius: 50%;

  z-index: 2;
}

.pictures-box .picture-desktop {
  position: absolute;
  top: -3px;
  left: 18px;

  display: inline-block;
  box-sizing: border-box;
  width: 323px;
  min-height: 255px;

  background-image: url("../assets/img/about-desktop.png");
  background-repeat: no-repeat;
}

.pictures-box .picture-tablet {
  position: absolute;
  top: 39px;
  left: 365px;

  display: inline-block;
  box-sizing: border-box;
  width: 129px;
  min-height: 173px;

  background-image: url("../assets/img/about-tablet.png");
  background-repeat: no-repeat;
}

.pictures-box .picture-mobile {
  position: absolute;
  top: 149px;
  left: 519px;

  display: inline-block;
  box-sizing: border-box;
  width: 39px;
  min-height: 63px;

  background-image: url("../assets/img/about-mobile.png");
  background-repeat: no-repeat;
}

.about .list-box {
  box-sizing: border-box;
  width: 398px;
  padding-left: 49px;
  padding-top: 42px;

  font-size: 22px;
  font-weight: 400;
  font-family: "OpenSans", "Century Gothic", sans-serif;
  letter-spacing: 0.01em;
  line-height: 1.2;
  text-align: left;
  color: #a9a9a7;
}

.list-box .list-item {
  position: relative;
  margin-bottom: 22px;
}

.list-box .list-item::before {
  position: absolute;
  top: 8px;
  left: -33px;

  content: "";

  display: inline-block;
  width: 14px;
  height: 14px;

  background-color: #f5c506;
  border-radius: 50%;
}

.list-box .list-item:first-child::before {
  top: 6px;
}

.list-box .list-item:nth-child(2) {
  margin-bottom: 14px;
}

.list-box .list-item:nth-child(3) {
  margin-bottom: 25px;
}

/* ---------------------------- footer --------------------------- */

.footer-container {
  min-height: 64px;

  background-color: #4c4c4c;
  box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.8);
}

.main-footer .logo-link {
  position: relative;
  top: 17px;

  margin-left: 60px;
  padding-right: 10px;

  font-style: italic;
  font-size: 29.05px;
  font-weight: 400;
  font-family: "Lucida Sans", "Candara", sans-serif;
  letter-spacing: 0.01em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.main-footer .logo-link::before {
  position: absolute;
  left: -60px;
  top: -11px;

  display: inline-block;
  width: 54px;
  height: 54px;

  background-image: url("../assets/img/theyalow-logo.svg");
  background-repeat: no-repeat;
  background-size: 54px 54px;

  content: "";
}

.main-footer .logo-link:focus,
.main-footer .logo-link:hover,
.main-footer .logo-link:active {
  color: #f5c506;
}

.main-footer .logo-link:focus {
 outline: 1px solid #ffffff;
}

/* ---------------------------- mobile styles --------------------------- */

@media only screen and (max-width: 1040px) {

  .centralizer {
    width: 640px;
    padding: 0;
  }  

  .header-and-banner-container {
    box-sizing: border-box;
    width: 100%;
    min-height: 389px;
    padding-top: 0;
    
    background: linear-gradient(0deg, #626262 0%, #444444 100%);
  }
  
  .header-and-banner-container .main-header {
    justify-content: space-between;
    align-items: center;
  
    min-height: 62px;
  }
  
  /* .header-logo {
    margin: 0;
    background: linear-gradient(0deg, #626262 0%, #444444 100%);
  } */

  /* .main-header {
    background: linear-gradient(0deg, #626262 0%, #444444 100%);
  } */
  
  .header-logo .logo-link {
    /* position: relative; */
    /* top: 5px; */
    /* left: -5px; */
    top: -2px;
    left: 0;
    
    /* margin-left: 12px; */
    /* padding-right: 8px; */
    margin-left: 58px;
    padding-right: 10px;
  
    /* font-style: italic; */
    font-size: 19.29px;
    /* font-weight: 400; */
    /* font-family: "Lucida Sans", "Candara", sans-serif; */
    /* letter-spacing: 0.01em; */
    /* text-align: center; */
    /* text-transform: uppercase; */
    /* color: #ffffff; */
  }
  
  .header-logo .logo-link::before {
    position: absolute;
    /* top: -23px; */
    /* left: -87px; */
    top: -11px;
    left: -46px;
  
    display: inline-block;
    width: 40px;
    height: 40px;
  
    /* background-image: url("../assets/img/theyalow-logo.svg"); */
    /* background-repeat: no-repeat; */
    /* background-size: 54px 54px; */
    background-size: 40px 40px;
    /* content: ""; */
  }
  
  /* .header-logo .logo-link:focus {
    outline: 1px solid white;
  }
  
  .header-logo .logo-link:focus,
  .header-logo .logo-link:hover,
  .header-logo .logo-link:active {
    color: #f5c505;
  } */
  
  .main-navigation {
    position: relative;
    /* top: 1px; */
    top: 0px;
  
    /* align-self: flex-end; */
    align-self: center;
    /* width: 453px; */
    width: 454px;
    /* min-height: 41px; */
    min-height: 62px;
  
    /* background-color: rgba(245, 197, 6, 1); */
    background-color: rgba(245, 197, 6, 1);
    background-image: url("../assets/img/mobile-header-nav-bg.png");
    /* box-shadow: -4px -5px 0px 0px  rgba(245, 197, 6, 0.27),
                -8px -8px 0px 0px  rgba(245, 197, 6, 0.27); */
    box-shadow: none;
  }
  
  .main-navigation .navigation-link {
    position: relative;
    
    display: inline-block;
    box-sizing: border-box;
    /* min-height: 41px; */
    min-height: 62px;
  
    font-size: 19.05px;
    /* font-weight: 400; */
    line-height: 62px;
    /* font-family: "Segoe WP", "Segoe UI", sans-serif; */
    /* letter-spacing: 0.01em; */
    /* text-align: center; */
    /* text-transform: uppercase; */
    /* color: #9b7d08; */
    border-right: 1px solid rgba(220, 177, 5, 1);
  }
  
  /* .contact-item .navigation-link {
    border: none;
  } */
  
  .about-item .about-icon {
    /* position: relative; */
    top: 3px;
    left: -7px;

    width: 24px;
    height: 22px;
  }
  
  .about-item .navigation-link {
    width: 172px;
    padding-left: 6px; 
  }
  
  .services-item .services-icon {
    /* position: relative; */
    top: 4px;
    left: -4px;

    width: 22px;
    height: 22px;
  }
  
  .services-item .navigation-link {
    width: 133px;
  }
  
  .contact-item .contact-icon {
    /* position: relative; */
    top: 1px;
    left: -7px;

    width: 28px;
    height: 20px;
  }
  
  .contact-item .navigation-link {
    width: 149px;
    padding-left: 7px; 
  }
  
  .main-navigation .navigation-link:focus,
  .main-navigation .navigation-link:hover,
  .main-navigation .navigation-link:active {
    color: #ffffff;
  
    outline: 1px solid #ffffff;
  }
  
  .navigation-link:focus .icon,
  .navigation-link:hover .icon,
  .navigation-link:active .icon{
    fill: #ffffff;
  }
  
  /* ------------------------- mobile-banner ------------------------- */
  
  .banner-container {
    min-height: 327px;
    /* margin-top: 57px; */
    margin-top: 0;
  }
  
  .video-container {
    width: 640px;
    height: 327px;
    /* margin-left: 10px; */
    margin-left: 0px;
  
    /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); */
    box-shadow: none;
  }
  
  .banner .video {
    position: relative;

    width: 640px;
    height: 327px;

    /* object-fit: cover; */
    /* object-position: -54px; */
    object-fit: contain;
    object-position: 0;

    z-index: 2;
  }
  
  .banner .video:focus,
  .banner .video:hover,
  .banner .video:active {
    outline: 1px solid #ec9e03;
  }
  
  .banner .slogan {
    display: none;

    /* width: 408px;
    margin: 0;
    margin-left: 43px;
    padding-top: 79px;
  
    font-size: 63.05px;
    font-weight: 400;
    font-family: "Asap", "Calibri", sans-serif;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff; */
  }
  
  /* .slogan .first-text-line {
    position: relative;
    top: -4px;
    left: -8px;
  
    color: #f5c506;
  } */
  
  .button-container {
    display: none;

    /* position: relative;
    top: -195px;
  
    justify-content: space-between; */
  }
  
  /* .button-container .button {
    width: 32px;
    height: 57px;
    padding: 0;
  
    background-color: rgba(245, 197, 6, 0.71);
    background-image: url("../assets/img/banner-button.svg");
    background-repeat: no-repeat;
    background-position: 8px center;
    border: none;
  }
  
  .button-container .next-button {
    width: 32px;
  
    background-color: rgba(245, 197, 6, 1);
    background-position: 8px 20px;
  
    transform: rotate(180deg);
  }
  
  .button-container .button:focus,
  .button-container .button:hover,
  .button-container .button:active {
    outline: 1px solid #ffffff;
  } */
  
  /* --------------------------mobile-main --------------------------- */
  
  /* ------------------------ mobile-features ------------------------ */
  
  .features-container {
    position: relative;
    /* background-image: url("../assets/img/features-bg.png"); */
    /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); */
    box-shadow: none;
    /* filter: drop-shadow(0 0 -5px rgba(255, 255, 255, 1)); */
  }

  .features-container::before {
    position: absolute;
    
    top: -9px;

    display: block;
    width: 100%;
    height: 9px;

    background-image: url("../assets/img/features-bg.png"); 

    opacity: 0.4;

    content: "";
    z-index: 2;
  }

  .features-container::after {
    position: absolute;
    
    top: -4px;

    display: block;
    width: 100%;
    height: 4px;

    background-image: url("../assets/img/features-bg.png"); 

    opacity: 0.4;

    content: "";
    z-index: 3;
  }
  
  /* .features .features-list {
    align-items: stretch;
  } */
  
  .features-list .features-item {
    /* flex-grow: 1; */
  
    /* width: 200px; */
  
    /* border-left: 1px solid #cfcfcf; */
    border: none;
  }
  
  .features-list .features-item:last-of-type {
    /* border-right: 1px solid #cfcfcf; */
    border-right: none;
  }
  
  .features-list .features-link {
    /* display: block; */
    /* box-sizing: border-box; */
    /* min-height: 212px; */
    min-height: 166px;
    /* padding-top: 146px; */
    padding-top: 113px;
  
    /* font-size: 27.05px; */
    font-size: 23.05px;
    /* font-weight: 300; */
    /* font-family: "Segoe UI", Tahoma, sans-serif; */
    /* letter-spacing: 0.01em; */
    line-height: 1.2;
    /* text-align: center; */
    /* text-transform: uppercase; */
    /* color: #000000; */
  }
  
  .design .features-link {
    background-image: url("../assets/img/features-cloud.svg");
    background-repeat: no-repeat;
    /* background-position: 112px 61px; */
    background-position: 45px 33px;
    background-size: 89px 61px;
  }
  
  .design .features-link:focus,
  .design .features-link:hover,
  .design .features-link:active {
    color: #ec9e03;
  
    background-image: url("../assets/img/features-cloud-hover.svg");
    outline: 0;
  }
  
  .customize .features-link {
    background-image: url("../assets/img/features-leaf.svg");
    background-repeat: no-repeat;
    /* background-position: 135px 37px; */
    background-position: 82px 29px;
    background-size: 67px 69px;
  }
  
  .customize .features-link:focus,
  .customize .features-link:hover,
  .customize .features-link:active {
    color: #ec9e03;
  
    background-image: url("../assets/img/features-leaf-hover.svg");
    outline: 0;
  }
  
  .price .features-link {
    background-image: url("../assets/img/features-plane.svg");
    background-repeat: no-repeat;
    /* background-position: 119px 54px; */
    background-position: 69px 29px;
    background-size: 68px 69px;
  }
  
  .price .features-link:focus,
  .price .features-link:hover,
  .price .features-link:active {
    color: #ec9e03;
  
    background-image: url("../assets/img/features-plane-hover.svg");
    outline: 0;
  }
  
  /* ----------------------- mobile-description ---------------------- */
  
  .description-container {
    /* min-height: 508px; */
    min-height: 485px;
  
    /* background-image: url("../assets/img/description-bg.png"); */
    background-image: none;
    /* box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.5); */
    box-shadow: none;
  }
  
  .post-container {
    flex-direction: column;
    /* align-items: center; */
    align-items: stretch;

    /* margin-bottom: 43px; */
    margin-bottom: 0;
  }
  
  .post-article .article-title {
    display: none;
    /* margin: 0;
  
    font-size: 37.05px;
    font-weight: 400;
    font-family: "PTSans", "Century Gothic", sans-serif;
    letter-spacing: 0.01em;
    line-height: 110px;
    text-transform: uppercase;
    text-align: left;
    color: #ffffff; */
  }
  
  .post-article .article-content {
    justify-content: center;

    box-sizing: border-box;
    width: 100%;
    min-height: 252px;

    padding-top: 15px;
    /* margin-right: 17px; */
    padding-right: 25px;
    padding-left: 9px;
    padding-bottom: 8px;
  
    /* font-size: 0; */
    
    /* background-color: #ec9e03; */
    background-color: #ffffff;
  }
  
  .post-article .article-text {
    flex-grow: 1;

    /* position: relative; */
  
    /* box-sizing: border-box; */
    /* width: 341px; */
    width: 200px;
    /* min-height: 232px; */
    /* margin: 15px 0 0 29px; */
    margin: 0;
    /* margin-top: 13px; */
    /* margin-right: 17px; */
    /* margin-left: 9px; */
    /* margin-bottom: 7px; */
    padding-top: 16px;
    padding-right: 25px;
    padding-left: 27px;
  
    /* font-size: 29.05px; */
    font-size: 28.97px;
    /* font-weight: 300; */
    /* font-family: "Segoe WP", "Segoe UI", sans-serif; */
    /* letter-spacing: 0.01em; */
    /* line-height: 1.31; */
    line-height: 33.31px;
    /* text-align: left; */
    /* color: #ffffff; */

    background-color: #ec9e03;
  }
  
  .post-article .article-video-container {
    flex-grow: 1;

    width: 200px;
    padding-left: 9px;
  }

  .post-article .article-video {
    /* width: 315px; */
  
    /* object-position: -1px; */
    object-position: 0 -1px;
  }
  
  .post-article .article-video:focus,
  .post-article .article-video:hover,
  .post-article .article-video:active {
    outline: 1px solid #ec9e03;
  }
  
  .post-article .article-link {
    /* position: absolute; */
    /* right: 15px; */
    /* bottom: 13px; */
    right: 12px;
    bottom: 19px;
/*   
    display: inline-block;
    width: 11px;
    min-height: 11px;
  
    background-image: url("../assets/img/description-plus.svg");
    background-repeat: no-repeat;
    background-position: center center;
  
    opacity: 1; */
  }
  
  /* .post-article .article-link:focus,
  .post-article .article-link:hover,
  .post-article .article-link:active,
  .social-container .twitter-link:focus,
  .social-container .twitter-link:hover,
  .social-container .twitter-link:active {
    outline: 1px solid #ffffff;
  
    opacity: 1;
  } */
  
  .post-article .article-date {
    display: none;
    /* display: block;
    width: 113px;
    height: 86px;
  
    text-align: center; 
    
    background-color: #ddb101; */
  }
  
  /* .article-date .day {
    display: inline-block;
    width: 100%;
    padding-top: 2px;
    padding-left: 2px;
  
    font-size: 51.05px;
    font-weight: 700;
    font-family: "Segoe UI", Tahoma, sans-serif;
    letter-spacing: 0.01em;
    color: #ffffff;
  } */
  
  /* .article-date .month {
    display: inline-block;
    width: 100%;
    margin-top: -4px;
    padding-left: 2px;
  
    font-size: 21px;
    font-weight: 400;
    font-family: "Segoe UI", Tahoma, sans-serif;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #b26529;
  } */
  
  .description-container .social-container {
    /* position: relative; */
  
    /* width: 329px; */
    width: 100%;
    /* min-height: 233px; */
    /* margin-left: 33px; */
    margin: 0;
  
    /* background-color: #ec9e03; */
    background-color: #f5c507;
    /* background-image: url("../assets/img/twitter-logo.svg"); */
    /* background-repeat: no-repeat; */
    /* background-position: center 59px; */
    background-position: 85px 58px;
    background-size: 160px 135px;
  }
  
  .social-container .social-comments {
    display: none;
    /* position: absolute;
    top: 9px;
    right: 17px;
  
    font-size: 25.05px;
    font-weight: 300;
    font-family: "Segoe WP", "Segoe UI", sans-serif;
    line-height: 1.517;
    letter-spacing: 0.01em;
    color: #ffffff; */
  }
  
  .social-container .twitter-link {
    display: none;
    /* right: 9px; */
  }
  
  .social-container .mobile-chat {
    display: block;
    margin-left: 100px;
    /* width: 100%; */
    /* min-height: 233px; */
    /* display: none; */
  }

  .mobile-chat {
    padding-left: 224px;
  }

  .mobile-chat .comments-list-item {
    /* display: inline-block; */
    box-sizing: border-box;
    width: 284px;
    height: 42px;
    margin: 0;
    margin-top: 6px;
    margin-bottom: 14px;
    padding-top: 6px;
    padding-left: 28px;
        
    /* background-color: #ffffff; */
    background-image: url("../assets/img/bubble.svg");
    background-repeat: no-repeat;
  }
  
  .mobile-chat .comments-list-item:nth-child(2) {
    opacity: 0.7;
  }

  .mobile-chat .comments-list-item:nth-child(3) {
    opacity: 0.6;

    /* margin-bottom: 13px; */
  }

  .mobile-chat .comment,
  .mobile-chat .author {
    margin: 0;

    font-size: 13.05px;
    font-weight: 400;
    font-family: "Arial", "Helvetica", sans-serif;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #8f8e8e;    
  }

  .mobile-chat .twitter-form {
    padding-left: 13px;
    
    font-size: 0;
  }

  .twitter-form .twitter-comment-input {
    box-sizing: border-box;
    width: 201px;
    min-height: 29px;
    padding: 0;

    border: 1px solid rgba(208, 168, 6, 0.15);
    border-radius: 10px 0 0 10px;
    border-style: outset;
    box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.11);
    
    overflow: hidden;
  }

  .twitter-form .twitter-submit-button {
    box-sizing: border-box;
    width: 70px;
    min-height: 29px;
    padding: 0;

    font-size: 15.05px;
    font-weight: 400;
    font-family: "Arial", "Helvetica", sans-serif;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    color: #ffffff;

    background-color: #de9d1b;
    background-image: linear-gradient(180deg, #eaa927 0%, #cf8e0c 100%);;
    border: 1px solid rgba(208, 168, 6, 0.15);
    border-radius: 0 10px 10px 0;
    border-style: outset;
  }

  .twitter-form .twitter-comment-input:focus,
  .twitter-form .twitter-comment-input:hover,
  .twitter-form .twitter-comment-input:active {
    border: 1px solid #474747;

    outline: none;
  }

  .twitter-form .twitter-submit-button:focus,
  .twitter-form .twitter-submit-button:hover,
  .twitter-form .twitter-submit-button:active {
    border: 1px solid #474747;

    outline: none;
  }

  /* -------------------------- mobile-slider ------------------------- */
  
  .description .slider-container {
    display: none;
  }
  
  /* --------------------------- mobile-about ------------------------- */
  
  .about-container {
    /* min-height: 497px; */
    min-height: 466px;
  
    /* background-image: url("../assets/img/about-bg.png"); */
    background-image: none;
    background-color: #474747;
  }
  
  .about-container .about-title {
    /* margin: 0; */
    padding-top: 34px;
    padding-left: 18px;
    margin-bottom: 79px;
  
    /* font-size: 43.05px; */
    font-size: 39.05px;
    /* font-weight: 400; */
    /* font-family: "PTSans", "Century Gothic", sans-serif; */
    font-family: "OpenSans", "Century Gothic", sans-serif;
    /* letter-spacing: 0.01em; */
    /* line-height: 1.2; */
    /* text-transform: uppercase; */
    /* text-align: center; */
    text-align: left;
    /* color: #f5c506; */
  }
  
  /* .pictures-box {
    position: relative;
  
    width: 622px;
    min-height: 298px;
  } */
  
  .pictures-box .discount {
    /* position: absolute; */
    top: -45px;
    left: 27px;
  
    /* display: inline-block;
    box-sizing: border-box;
    width: 116px;
    min-height: 116px;
    padding-top: 4px;
    padding-left: 5px;
  
    font-size: 18.74px;
    font-weight: 400;
    font-family: "PTSans NarrowBold", "Century Gothic", sans-serif;
    letter-spacing: 0.01em;
    line-height: 116px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
  
    background-color: #f5c506;
    border-radius: 50%;
  
    z-index: 2; */
  }
  
  .pictures-box .picture-desktop {
    /* position: absolute;
    top: -3px; */
    left: 57px;
  
    /* display: inline-block;
    box-sizing: border-box;
    width: 323px;
    min-height: 255px;
  
    background-image: url("../assets/img/about-desktop.png");
    background-repeat: no-repeat; */
  }
  
  .pictures-box .picture-tablet {
    /* position: absolute; */
    /* top: 39px; */
    left: 404px;
/*   
    display: inline-block;
    box-sizing: border-box;
    width: 129px;
    min-height: 173px;
  
    background-image: url("../assets/img/about-tablet.png");
    background-repeat: no-repeat; */
  }
  
  .pictures-box .picture-mobile {
    /* position: absolute;
    top: 149px; */
    left: 558px;
  
    /* display: inline-block;
    box-sizing: border-box;
    width: 39px;
    min-height: 63px;
  
    background-image: url("../assets/img/about-mobile.png");
    background-repeat: no-repeat; */
  }
  
  .about .list-box {
    display: none;
    /* box-sizing: border-box;
    width: 398px;
    padding-left: 49px;
    padding-top: 42px;
  
    font-size: 22px;
    font-weight: 400;
    font-family: "OpenSans", "Century Gothic", sans-serif;
    letter-spacing: 0.01em;
    line-height: 1.2;
    text-align: left;
    color: #a9a9a7; */
  }
  
  /* .list-box .list-item {
    position: relative;
    margin-bottom: 22px;
  }
  
  .list-box .list-item::before {
    position: absolute;
    top: 8px;
    left: -33px;
  
    content: "";
  
    display: inline-block;
    width: 14px;
    height: 14px;
  
    background-color: #f5c506;
    border-radius: 50%;
  }
  
  .list-box .list-item:first-child::before {
    top: 6px;
  }
  
  .list-box .list-item:nth-child(2) {
    margin-bottom: 14px;
  }
  
  .list-box .list-item:nth-child(3) {
    margin-bottom: 25px;
  } */
  
  /* -------------------------- mobile-footer ------------------------- */
  
  .footer-container {
    /* min-height: 64px; */
    min-height: 43px;
  
    /* background-color: #4c4c4c; */
    /* box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.8); */
  }
  
  .main-footer .logo-link {
    /* position: relative; */
    /* top: 17px; */
    top: 13px;
  
    /* display: inline-block; */
    /* margin-left: 60px; */
    margin-left: 104px;
    /* padding-right: 10px; */
    padding-right: 5px;
    /* padding-top: 13px; */
  
    /* font-style: italic; */
    /* font-size: 29.05px; */
    font-size: 16.68px;
    /* font-weight: 400; */
    /* font-family: "Lucida Sans", "Candara", sans-serif; */
    /* letter-spacing: 0.01em; */
    /* text-align: center; */
    /* text-transform: uppercase; */
    /* color: #ffffff; */
  }
  
  .main-footer .logo-link::before {
    /* position: absolute; */
    left: -39px;
    top: -7px;
  
    /* display: inline-block; */
    /* width: 54px; */
    width: 31px;
    /* height: 54px; */
    height: 31px;
  
    /* background-image: url("../assets/img/theyalow-logo.svg"); */
    /* background-repeat: no-repeat; */
    /* background-size: 54px 54px; */
    background-size: 31px 31px;
  
    /* content: ""; */
  }
  
  /* .main-footer .logo-link:focus,
  .main-footer .logo-link:hover,
  .main-footer .logo-link:active {
    color: #f5c506;
  }
  
  .main-footer .logo-link:focus {
   outline: 1px solid #ffffff;
  } */

}