body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}       

.centralizer {
  box-sizing: border-box;
  width: 1040px;
  margin: 0 auto;
  padding: 0 10px;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.flex {
  display: flex;
}

/* ------------------------------ header ------------------------------ */

.header-and-banner-container {
  box-sizing: border-box;
  min-height: 566px;
  padding-top: 28px;
  
  background-image: url("../assets/img/head-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-and-banner-container .main-header {
  justify-content: space-between;
  align-items: center;

  min-height: 83px;
}

.header-logo {
  margin: 0;
}

.header-logo .logo-link {
  position: relative;
  top: 5px;
  left: -5px;
  
  margin-left: 92px;
  padding-right: 10px;

  font-style: italic;
  font-size: 41.05px;
  font-weight: 400;
  font-family: "Lucida Sans", "Candara", sans-serif;
  letter-spacing: 0.01em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.header-logo .logo-link::before {
  position: absolute;
  left: -87px;
  top: -23px;

  display: inline-block;
  width: 83px;
  height: 83px;

  content: "";
  
  background-image: url("../assets/img/header-logo.png");
  background-repeat: no-repeat;
}

.header-logo .logo-link:focus {
  outline: 1px solid white;
}

.header-logo .logo-link:focus,
.header-logo .logo-link:hover,
.header-logo .logo-link:active {
  color: #f5c505;
}

.main-navigation {
  position: relative;
  top: 1px;

  align-self: flex-end;
  width: 453px;
  min-height: 41px;

  background-color: rgba(245, 197, 6, 1);
  box-shadow: -4px -5px 0px 0px  rgba(245, 197, 6, 0.27),
              -8px -8px 0px 0px  rgba(245, 197, 6, 0.27);
}

.main-navigation .navigation-link {
  position: relative;
  
  display: inline-block;
  box-sizing: border-box;
  min-height: 41px;

  font-size: 17.05px;
  font-weight: 400;
  line-height: 41px;
  font-family: "Segoe WP", "Segoe UI", sans-serif;
  letter-spacing: 0.01em;
  text-align: center;
  text-transform: uppercase;
  color: #9b7d08;

  border-right: 1px solid rgba(220, 177, 5, 1);
}

.contact-item .navigation-link {
  border: none;
}

.about-item .about-icon {
  position: relative;
  top: 3px;
  left: -4px;
}

.about-item .navigation-link {
  width: 173px;
  padding-left: 21px; 
}

.services-item  .services-icon {
  position: relative;
  top: 3px;
  left: -4px;
}

.services-item .navigation-link {
  width: 133px;
}

.contact-item .contact-icon {
  position: relative;
  top: 2px;
  left: -4px;
}

.contact-item .navigation-link {
  width: 147px;
}

.main-navigation .navigation-link:focus,
.main-navigation .navigation-link:hover,
.main-navigation .navigation-link:active {
  color: #ffffff;

  outline: 1px solid #ffffff;
}

.navigation-link:focus .icon .shp0,
.navigation-link:hover .icon .shp0,
.navigation-link:active .icon .shp0{
  fill: #ffffff;
}

/* ------------------------------- main ------------------------------- */

/* ------------------------------ banner ------------------------------ */

.banner-container {
  min-height: 398px;
  margin-top: 57px;
}

.video-container {
  /* position: relative; */      /* TODO: Fix yellow background or export poster with same effect...*/

  width: 549px;
  height: 327px;
  margin-left: 10px;

  /* background-color: #f5c506; */
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

  /* z-index: 5; */
}

.banner video {
  width: 549px;
  height: 327px;
}

.banner .slogan {
  width: 408px;
  margin: 0;
  margin-left: 43px;
  padding-top: 80px;

  font-size: 63.05px;
  font-weight: 400;
  font-family: "Asap", "Calibri", sans-serif;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.slogan .first-text-line {
  position: relative;
  top: -5px;
  left: -8px;

  color: #f5c506;
}

.button-container {
  justify-content: space-between;
  
  margin-top: -195px;
}

.button-container button {
  width: 32px;
  height: 57px;
  padding: 0;

  background-color: #f5c506;
  background-image: url("../assets/img/banner-button.svg");
  background-position: 8px center;
  background-repeat: no-repeat;
  border: none;
  opacity: 0.71;
}

.button-container button.next-button {
  transform: rotate(180deg);

  opacity: 1;
}

/* ----------------------------- features ----------------------------- */

.features-container {
  background-image: url("../assets/img/features-bg.png");
}

.features .features-list {
  /* justify-content: space-between; */
  align-items: stretch;
}

.features-list a {
  display: inline-block;
  box-sizing: border-box;
  min-height: 212px;
  padding-top: 146px;

  font-size: 27.05px;
  font-weight: 300;
  font-family: "Segoe UI", Tahoma, sans-serif;
  letter-spacing: 0.01em;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  
  border-left: 1px solid #cfcfcf;
}

.features-list li:last-of-type a {
  border-right: 1px solid #cfcfcf;
}

.features-list .design a {
  width: 341px;
  margin-left: -1px;
  padding-left: 19px;

  background-image: url("../assets/img/features-cloud.svg");
  background-repeat: no-repeat;
  background-position: 113px 61px;
}

.features-list .design a:focus,
.features-list .design a:hover,
.features-list .design a:active {
  background-image: url("../assets/img/features-cloud-hover.svg");
}

.features-list .customise a {
  width: 341px;
  padding-left: 18px;

  background-image: url("../assets/img/features-leaf.svg");
  background-repeat: no-repeat;
  background-position: 135px 37px;
}

.features-list .customise a:focus,
.features-list .customise a:hover,
.features-list .customise a:active {
  background-image: url("../assets/img/features-leaf-hover.svg");
}

.features-list .price a {
  width: 341px;
  margin-left: -2px;
  padding-right: 14px;

  background-image: url("../assets/img/features-plane.svg");
  background-repeat: no-repeat;
  background-position: 119px 54px;
}

.features-list .price a:focus,
.features-list .price a:hover,
.features-list .price a:active {
  background-image: url("../assets/img/features-plane-hover.svg");
}

/* ---------------------------- description --------------------------- */

.description-container {
  min-height: 509px;

  background-image: url("../assets/img/description-bg.png");
}

.post-container {
  align-items: center;
  margin-bottom: 43px;
}

.post-article .article-title {
  margin: 0;

  font-size: 37.05px;
  font-weight: 400;
  font-family: "PTSans", "Century Gothic", sans-serif;
  letter-spacing: 0.01em;
  line-height: 110px;
  text-transform: uppercase;
  text-align: left;
  color: #ffffff;
}

.post-article .article-content {
  width: 656px;
  min-height: 233px;

  font-size: 0;
  
  background-color: #ec9e03;
}

.post-article .article-text {
  position: relative;

  box-sizing: border-box;
  width: 341px;
  margin: 15px 0 0 30px;

  font-size: 29.05px;
  font-weight: 300;
  font-family: "Segoe WP", "Segoe UI", sans-serif;
  letter-spacing: 0.01em;
  line-height: 1.31;
  text-align: left;
  color: #ffffff;
}

.post-article .article-video {
  width: 315px;
}

.post-article .article-link,
.social-container .twitter-link {
  position: absolute;
  right: 15px;
  bottom: 13px;

  display: inline-block;
  width: 11px;
  min-height: 11px;

  background-image: url("../assets/img/description-plus.png");
  background-repeat: no-repeat;
  background-position: center center;

  opacity: 0.7;
}

.post-article .article-date {
  display: block;
  width: 113px;
  height: 86px;

  text-align: center; 
  
  background-color: #ddb101;
}

.article-date .day {
  display: inline-block;
  width: 100%;
  padding-top: 2px;
  padding-left: 2px;

  font-size: 51.05px;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, sans-serif;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.article-date .month {
  display: inline-block;
  width: 100%;
  margin-top: -4px;
  padding-left: 2px;

  font-size: 21px;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, sans-serif;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #b26529;
}

.description-container .social-container {
  position: relative;

  width: 329px;
  min-height: 233px;
  margin-top: 23px;
  margin-left: 33px;

  background-color: #ec9e03;
  background-image: url("../assets/img/twitter-logo.svg");
  background-repeat: no-repeat;
  background-position: center 59px;
}

.social-container .social-comments {
  position: absolute;
  top: 9px;
  right: 17px;

  font-size: 25.05px;
  font-weight: 300;
  font-family: "Segoe WP", "Segoe UI", sans-serif;
  line-height: 1.517;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.social-container .twitter-link {
  right: 9px;
}

.social-container .mobile-chat {
  display: none;
}

/* ---------------------------- slider --------------------------- */

.description .slider-container {
  box-sizing: border-box;
  width: 896px;
  height: 15px;
  margin: 0;
  margin-left: 73px;
}

.slider {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

.slider:focus {
  outline: none; /* Removes the blue border */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;

  box-sizing: border-box;
  width: 197px;
  height: 15px;

  background-color: #ec9e03;
  border-radius: 10px;

  cursor: pointer;
}

.slider::-moz-range-thumb { /*  TODO: Test this feature in Mozilla */
  box-sizing: border-box;
  width: 197px;
  height: 15px;

  background-color: #ec9e03;
  border-radius: 10px;

  cursor: pointer;
}

.slider:focus::-webkit-slider-runnable-track {
  background-color: red;   /*  TODO!!!!!!!!!!!!!!!!!!! */
  border-radius: 10px;
}

.slider::-webkit-slider-runnable-track {
  background-color: rgba(255, 255, 255, 0.48);
  border-radius: 10px;
  
  cursor: pointer;
}

.slider:focus::-webkit-slider-runnable-track {
  background: #367ebd; /*  TODO!!!!!!!!!!!!!!!!!!! */
}

.slider::-moz-range-track {
  background-color: rgba(255, 255, 255, 0.48);
  border-radius: 10px;
  
  cursor: pointer;
}

/* ---------------------------- about --------------------------- */

.about-container {
  min-height: 497px;

  background-image: url("../assets/img/about-bg.png");
}

.about-container .about-title {
  margin: 0;
  padding-top: 37px;
  padding-left: 6px;
  margin-bottom: 51px;

  font-size: 43.05px;
  font-weight: 400;
  font-family: "PTSans", "Century Gothic", sans-serif;
  letter-spacing: 0.01em;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: #f5c506;
}

.pictures-box {
  position: relative;

  width: 622px;
  min-height: 298px;
}

.pictures-box .discount {
  position: absolute;
  top: -48px;
  left: -2px;

  display: inline-block;
  box-sizing: border-box;
  width: 116px;
  min-height: 116px;
  padding-top: 4px;
  padding-left: 5px;

  font-size: 18.74px;
  font-weight: 400;
  font-family: "PTSans NarrowBold", "Century Gothic", sans-serif;
  letter-spacing: 0.01em;
  line-height: 116px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  background-color: #f5c506;
  border-radius: 50%;

  z-index: 2;
}

.pictures-box .picture-desktop {
  position: absolute;
  top: -2px;
  left: 19px;

  display: inline-block;
  box-sizing: border-box;
  width: 323px;
  min-height: 255px;

  background-image: url("../assets/img/about-desktop.png");
  background-repeat: no-repeat;
}

.pictures-box .picture-tablet {
  position: absolute;
  top: 40px;
  left: 365px;

  display: inline-block;
  box-sizing: border-box;
  width: 129px;
  min-height: 173px;

  background-image: url("../assets/img/about-tablet.png");
  background-repeat: no-repeat;
}

.pictures-box .picture-mobile {
  position: absolute;
  top: 150px;
  left: 519px;

  display: inline-block;
  box-sizing: border-box;
  width: 39px;
  min-height: 63px;

  background-image: url("../assets/img/about-mobile.png");
  background-repeat: no-repeat;
}

.about .list-box {
  box-sizing: border-box;
  width: 398px;
  padding-left: 49px;
  padding-top: 42px;

  font-size: 22px;
  font-weight: 400;
  font-family: "OpenSans", "Century Gothic", sans-serif;
  letter-spacing: 0.01em;
  line-height: 1.2;
  text-align: left;
  color: #a9a9a7;
}

.list-box .list-item {
  position: relative;
  margin-bottom: 22px;
}

.list-box .list-item::before {
  position: absolute;
  top: 8px;
  left: -33px;

  content: "";

  display: inline-block;
  width: 14px;
  height: 14px;

  background-color: #f5c506;
  border-radius: 50%;
}

.list-box .list-item:first-child::before {
  top: 6px;
}

.list-box .list-item:nth-child(2) {
  margin-bottom: 14px;
}

.list-box .list-item:nth-child(3) {
  margin-bottom: 25px;
}

/* ---------------------------- footer --------------------------- */

.footer-container {
  min-height: 64px;

  background-color: #4c4c4c;
}

.main-footer .logo-link {
  position: relative;
  top: 16px;

  margin-left: 60px;

  font-style: italic;
  font-size: 29.05px;
  font-weight: 400;
  font-family: "Lucida Sans", "Candara", sans-serif;
  letter-spacing: 0.01em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.main-footer .logo-link::before {
  position: absolute;
  left: -60px;
  top: -11px;

  display: inline-block;
  width: 54px;
  height: 54px;

  content: "";
  
  background-image: url("../assets/img/footer-logo.png");
  background-repeat: no-repeat;
}