body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}       

.centralizer {
  box-sizing: border-box;
  width: 1040px;
  padding: 0 10px;
  margin: 0 auto;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.flex {
  display: flex;
}

/* -------------------------------- header -------------------------------- */

.header-wrapper {
  box-sizing: border-box;
  min-height: 566px;
  padding-top: 28px;
  
  background-image: url("../assets/img/head-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-wrapper .main-header {
  justify-content: space-between;
  align-items: center;

  min-height: 83px;
}

.logo {
  margin: 0;
}

.logo a {
  margin-left: 92px;
  position: relative;
  top: 5px;
  left: -5px;

  font-style: italic;
  font-size: 41.05px;
  font-weight: 400;
  font-family: "Lucida Sans", "Candara", sans-serif;
  letter-spacing: 0.01em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.logo a::before {
  position: absolute;
  left: -87px;
  top: -23px;

  display: inline-block;
  width: 83px;
  height: 83px;

  content: "";
  
  background-image: url("../assets/img/logo.png");
  background-repeat: no-repeat;
}

.main-navigation {
  position: relative;
  top: 1px;

  align-self: flex-end;

  width: 453px;
  min-height: 41px;
  
  background-image: linear-gradient(0deg, #f5c505 0%, #f5c505 100%);
}

nav.main-navigation::before {
  position: absolute;
  top: -5px;
  left: -4px;

  display: block;
  width: 453px;
  min-height: 41px;
   
  content: ""; 

  background-image: linear-gradient(0deg, #f5c505 0%, #f5c505 100%);
  
  opacity: 0.27;
}

nav.main-navigation::after {
  position: absolute;
  top: -8px;
  left: -8px;

  display: block;
  width: 453px;
  min-height: 41px;
   
  content: ""; 

  background-image: linear-gradient(0deg, #f5c505 0%, #f5c505 100%);
  
  opacity: 0.27;
}

.main-navigation a {
  position: relative;
  
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  min-height: 41px;

  font-size: 17.05px;
  font-weight: 400;
  font-family: "Segoe WP", "Segoe UI", sans-serif;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #9b7d08;

  z-index: 2;
}

.main-navigation .about-item a {
  padding-left: 47px;

  width: 173px;
}

.main-navigation .about-item a::before {
  position: absolute;
  top: 10px;
  left: 38px;

  width: 22px;
  min-height: 20px;

  content: "";

  background-image: url("../assets/img/about-nav.svg");
  background-repeat: no-repeat;
}

.main-navigation .about-item a::after {
  position: absolute;
  right: 0;

  width: 1px;
  min-height: 40px;

  content: "";

  background-image: url("../assets/img/line-nav.svg");
  background-repeat: no-repeat;
}

.main-navigation .services-item a {
  padding-left: 24px;

  width: 133px;
}

.main-navigation .services-item a::before {
  position: absolute;
  top: 10px;
  left: 13px;

  width: 20px;
  min-height: 20px;

  content: "";

  background-image: url("../assets/img/services-nav.svg");
  background-repeat: no-repeat;
}

.main-navigation .services-item a::after {
  position: absolute;
  right: 0;

  width: 1px;
  min-height: 40px;

  content: "";

  background-image: url("../assets/img/line-nav.svg");
  background-repeat: no-repeat;
}

.main-navigation .contact-item a {
  padding-left: 28px;

  width: 147px;
}

.main-navigation .contact-item a::before {
  position: absolute;
  top: 10px;
  left: 16px;

  width: 25px;
  min-height: 19px;

  content: "";

  background-image: url("../assets/img/contacts-nav.svg");
  background-repeat: no-repeat;
}

/* -------------------------------- main -------------------------------- */

/* -------------------------------- banner -------------------------------- */

.banner-wrapper {
  min-height: 398px;
  margin-top: -398px;
}

.video-wrapper {
  /* position: relative; */      /* TODO: Fix yellow background or export poster with same effect...*/

  width: 549px;
  height: 327px;
  margin-left: 10px;

  /* background-color: #f5c506; */
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

  /* z-index: 5; */
}

.banner video {
  width: 549px;
  height: 327px;
}

.banner .slogan {
  width: 408px;
  margin: 0;
  margin-left: 43px;
  padding-top: 80px;

  font-size: 63.05px;
  font-weight: 400;
  font-family: "Asap", "Calibri", sans-serif;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.slogan .first-text-line {
  position: relative;
  top: -5px;
  left: -8px;

  color: #f5c506;
}

.button-container {
  justify-content: space-between;
  
  margin-top: -195px;
}

.button-container button {
  width: 32px;
  height: 57px;
  padding: 0;

  background-color: #f5c506;
  background-image: url("../assets/img/banner-button.svg");
  background-position: 8px center;
  background-repeat: no-repeat;
  border: none;
  opacity: 0.71;
}

.button-container button.next-button {
  transform: rotate(180deg);

  opacity: 1;
}

/* -------------------------------- features -------------------------------- */

.features-wrapper {
  background-image: url("../assets/img/features-bg.png");
}

.features .features-list {
  /* justify-content: space-between; */
  align-items: stretch;
}

.features-list a {
  display: inline-block;
  box-sizing: border-box;
  min-height: 212px;
  padding-top: 146px;

  font-size: 27.05px;
  font-weight: 300;
  font-family: "Segoe UI", Verdana, sans-serif;
  letter-spacing: 0.01em;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  
  border-left: 1px solid #cfcfcf;
}

.features-list li:last-of-type a {
  border-right: 1px solid #cfcfcf;
}

.features-list .design a {
  width: 341px;
  margin-left: -1px;
  padding-left: 19px;

  background-image: url("../assets/img/features-cloud.svg");
  background-repeat: no-repeat;
  background-position: 113px 61px;
}

.features-list .design a:focus,
.features-list .design a:hover,
.features-list .design a:active {
  background-image: url("../assets/img/features-cloud-hover.svg");
}

.features-list .customise a {
  width: 341px;
  padding-left: 18px;

  background-image: url("../assets/img/features-leaf.svg");
  background-repeat: no-repeat;
  background-position: 135px 37px;
}

.features-list .customise a:focus,
.features-list .customise a:hover,
.features-list .customise a:active {
  background-image: url("../assets/img/features-leaf-hover.svg");
}

.features-list .price a {
  width: 341px;
  margin-left: -2px;
  padding-right: 14px;

  background-image: url("../assets/img/features-plane.svg");
  background-repeat: no-repeat;
  background-position: 119px 54px;
}

.features-list .price a:focus,
.features-list .price a:hover,
.features-list .price a:active {
  background-image: url("../assets/img/features-plane-hover.svg");
}